@{
    ViewBag.Title = "Index";
}

<h2>Démo filtre</h2>

La démo est visible si l'exemple est lancé depuis Visual Studio<br /><br />
Exécuter alors n'importe quelle action du projet, on voit alors s'afficher dans la fenêtre de sortie de VS des informations<br />
sur la durée d'exécution de l'action<br />
<br />
Lire pour les explications /Models/Filtres/LISEZMOI.txt et les fichiers trouvés dans ce répertoire<br />

